* {
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 7px 0 5px 0;
  border-bottom: 1px solid #ddd;
}

.navbar-icon {
  margin-left: 5px;
}

.navbar-icon a {
  color: #121212;
  text-decoration: none;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-icon i,
.icon-txt {
  padding-left: 25px;
  font-size: 1.6rem;
  cursor: pointer;
}

.icon-txt {
  font-weight: 700;
  font-size: 1.425rem;
  font-family: Helvetica, sans-serif, Arial;
  cursor: pointer;
}

.icon-btn {
  margin-right: 15px;
}

.btn-subscribe,
.btn-login {
  background-color: #567b95;
  color: #fff;
  font-weight: 700;
  padding: 8px 10px 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 11px;
  border: 1px solid #326891;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn-login {
  margin-left: 10px;
}

.main-header-text {
  width: 40%;
  margin-left: 350px;
  padding: 0;
  margin-top: 65px;
}

h1 {
  color: #121212;
  font-family: 'Libre Baskerville', sans-serif, Arial;
  font-weight: 900;
  font-style: italic;
  line-height: 4.5rem;
  font-size: 3.5rem;
}

.p-links {
  color: #326891;
}

.image-container {
  max-width: 900px;
  margin: 0 auto 40px auto;
  height: 500px;
}

.image-container img {
  width: 100%;
}

.image-title {
  width: 80%;
  margin-top: 0;
  padding: 0;
}

.article-section {
  margin-top: 100px;
  font-size: 1.6rem;
}

.main-article-author {
  max-width: 650px;
  margin: 0 auto 60px auto;
  box-sizing: border-box;
}

.main-article-author span {
  color: #333;
  letter-spacing: 0.02em;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif, Arial;
  font-weight: 700;
  line-height: 1.5rem;
  cursor: pointer;
}

.main-article {
  max-width: 650px;
  float: left;
  margin-left: 350px;
}

.date {
  float: left;
  margin-top: 20px;
  color: #333;
  font-weight: 300;
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif, Arial;
}

.article-icons {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.main-article p {
  font-family: 'Libre Baskerville', sans-serif, Arial;
  line-height: 2.8rem;
  color: #333;
  font-weight: 400;
}

.clearfix {
  clear: both;
}

.free-articles {
  margin: 35px 0;
  text-align: center;
}

.hr-fr-articles {
  width: 12%;
  color: rgb(219, 219, 219);
}

.free-articles-txt {
  margin: 15px 0;
}

.free-articles-txt span {
  font-weight: 600;
}

.free-articles-txt a {
  color: #326891;
  font-weight: 600;
  text-decoration: none;
}

.aside-section {
  width: 250px;
  float: right;
  margin-right: 50px;
  margin-top: 58%;
}

.aside-section h4 {
  font-size: 1.5rem;
  font-family: 'Libre Baskerville', sans-serif, Arial;
}

.flexbox {
  display: flex;
  margin: 10px;
}

.flexbx-txt {
  padding: 10px;
  color: #333;
  font-size: 1.4rem;
}

.flexbx-txt a {
  color: #333;
  text-decoration: none;
}

.flexbx-txt a:hover {
  text-decoration: underline;
}

.aside-hr {
  color: #f7f6f2;
  margin: 0;
  padding: 0;
}

.big-txt {
  font-size: 1.8rem;
}

.grid-container {
  max-width: 900px;
  margin: 20px auto 10px auto;
}

.grid {
  background-image: url(images/grid-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}

.grid-container h4 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.grid-container-txt {
  color: #666;
  font-size: 1.3rem;
  margin-top: 3px;
  font-family: 'Libre Baskerville', sans-serif, Arial;
}

.grid-txt {
  margin-top: 150px;
  font-size: 1.35rem;
  line-height: 1.5;
}

.grid-txt-1 {
  margin-top: 210px;
  font-size: 1.35rem;
  line-height: 1.5;
}

.hr-name {
  width: 7%;
  float: left;
  color: #000;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: Helvetica, sans-serif, Arial;
}

.hr-name-txt {
  font-size: 1.4rem;
  color: #333;
}

.SU-video iframe {
  width: 100%;
  height: 319px;
  border: 0;
}

.video-credit {
  /* margin-top: 7px; */
  padding: 0;
}

.video-credit p{
  text-align: left;
  color: #333;
  font-family: 'Libre Baskerville', sans-serif, Arial;
  font-size: 13px;
  line-height: 15px;
}

.video-credit span {
  font-size: 11px;
  color: #666;
}

#image-text {
  font-size: 1.3rem;
  color: #666;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: 'Libre Baskerville', sans-serif, Arial;
}

#image-text span {
  color: #888;
  font-size: 1rem;
}
